* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://wallpaperaccess.com/full/834258.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-top: 80px; /* Adicionado para dar espaço ao cabeçalho fixo */
}

.nav {
    position: absolute;
    top: 50px;
    left: 100px;
    font-size: 30px;
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.active {
    color: rgb(0, 204, 255);
    text-decoration: underline;
    text-underline-offset: 5px;
}

a {
    text-decoration: none;
    color: rgb(195, 195, 195);
}

.nav a:hover {
    color: rgb(0, 204, 255);
    transition: 0.3s;
}

.planos-container {
    padding: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px; /* Ajustar para dar espaço ao cabeçalho fixo */
}

.planos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.plano {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #333;
}

.plano h2 {
    margin-bottom: 10px;
}

.plano p {
    margin-bottom: 20px;
}

.plano button {
    background-color: rgb(0, 204, 255);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.plano button:hover {
    background-color: rgb(0, 160, 200);
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 50px;
        left: 0;
        padding: 10px 0;
    }

    .nav-list.active {
        display: flex;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1000;
    }

    .planos {
        flex-direction: column;
        align-items: center;
    }

    .plano {
        width: 80%;
    }
}